%h1 All TAMU Users (TODO)
%body
.secondary-main
    #content
        #left{:float => "left", :width => "30%"}
            // %p
            // = link_to "My page", tamu_user_path(1)
            // %br
            // %br
        #right
            %table{:border => 1, :width => "70%"}
                %tr{:height => "10px"}
                    %th{:align=> "left"} Name
            
                - @tamu_users.each do |tamu_user|
                    %tr{:height => "10px"}
                        %td= link_to tamu_user.name, tamu_user_path(tamu_user.id)
