#headtitle All Unapproved Faculty
%body
    #content
        %table{:border => 1, :width => "70%"}
            %tr{:height => "10px"}
                %th{:align=> "left"} Name
                - if @current_user.is_a?(TamuUser) and @current_user.admin?
                    %th{:align=> "left"} Professor Status
        
            - @tamu_users.each do |tamu_user|
                %tr{:height => "10px"}
                    %td= tamu_user.name
                    %td= button_to "Approve as Faculty", approve_professor_path(tamu_user.id), confirm: "Are you sure?"
        #footer