#headtitle All Unapproved Faculty
%body
    #content
        %table{:border => 1, :width => "70%"}
            %tr{:height => "10px"}
                %th{:align=> "left"} Name
                - if @current_user.is_a?(TamuUser) and @current_user.admin?
                    %th{:align=> "left"} Professor Status
                    %th User since
        
            - TamuUserPresenter.all(@tamu_users) do |tamu_user|
                %tr{:height => "10px"}
                    %td= tamu_user.profile
                    %td= button_to "Approve as Faculty", approve_professor_path(tamu_user.id), confirm: "Are you sure?"
                    %td= tamu_user.date
        %p= paginate @tamu_users
        #footer
