!!!
%head
 %h1 TAMU Non-Profit Projects Collect System
%body
 #content
  #left{:float => "left", :width => "30%"}
   %p
   %a{:href => "url"} My Projects
   %br
   %a{:href => "url"} My Profile
   %br
   %a{:href => "url"} Create Project
   %br
 #right
  %h1 Agency Name
  %h2 Introduction:
  #footer