#body
  .secondary-main
    %table{:border => 1, :width => "70%"}
      %tr{:height => "10px"}
        %th{:align=> "left", :width => "50%"} Project Name
        %th{:align=> "left", :width => "20%"} Post Date
        %th{:align=> "left", :width => "30%"} Organization
      - @projects.each do |project|
        %tr{:height => "10px"}
          %td= link_to project.name, project_path(project)
          %td= project.created_at.to_date
          %td= project.agency
#footer.pageFooter

