#body
  %h1 Home
  .secondary-main
    %table{:border => 1, :width => "70%"}
      %tr{:height => "10px"}
        %th Project Name
        %th Post Date
        %th Organization
      - @projects.each do |project|
        %tr{:height => "10px"}
          %td= link_to project.name, project_path(project)
          %td= project.created_at.to_date
          %td= project.agency
#footer.pageFooter

