%h1 Edit Profile

= form_tag agency_path(@agency), id: 'edit_agency_form', :method => :put do

  = label :agency, :name, 'Name'
  = text_field :agency, 'name'

  = submit_tag 'Save Changes', id: 'submit_agency_form'
