#headtitle All Unapproved Agencies
%body
    #content
        %table{:border => 1, :width => "70%"}
            %tr{:height => "10px"}
                %th{:align=> "left"} Name
                %th{:align=> "left"} Approve Agency
        
            - @agencies.each do |agency|
                %tr{:height => "10px"}
                    %td= link_to agency.name, agency_path(agency.id)
                    %td= button_to 'Approve', approve_agency_path(agency)
        #footer
