.profile-header{
    display:inline-block;
}
.profile-header h2{
    float:left;
    display:inline;
}
#headtitle {
    float:left;
    display:inline;
}

#profile-edit{
    float:left;
    display:inline;
    margin: 8px 10px;
    padding:15px;
}


.nav.nav-tabs{
    width:70%;
}