/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /*css layout*/
.header_grid{
	 display : block;
	 width : 100%;
	 overflow : auto;
	 margin : 10px auto 0 auto;
	 padding : 0;
	 min-width: 600px;
	 max-width: 1600px;
}

.headerLogo{
	 float : left;
	 clear : none;
	 height : 60px;
	 width : 200px;
	 padding : 0;
}
.headerContent{
	 float : right;
	 clear : none;
	 height : 60px;
	 width : 350px;
	 padding : 0;
}

.blended_grid{
	 display : block;
	 width : 100%;
	 overflow : auto;
	 margin : 30px auto 0 auto;
	 min-width: 600px;
	 max-width: 1600px;
}

.pageLeftMenu{
	 float : left;
	 clear : none;
	 /*height : 600px;*/
	 width : 20%;
	 min-width: 100px;
	 max-width: 200px;
}
.pageContent{
	 float : left;
	 clear : none;
	 /*height : 600px;*/
	 width : 80%;
	 min-width: 400px;
	 max-width: 800px;
}
.pageFooter{
	 float : left;
	 clear : none;
	 /*height : 100px;*/
	 width : 100%;
}
 
html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}
div#head {
  background-color: #500000;
  margin: 0;
  padding: 0;
}

div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  background: transparent;
  color: #500000;
  text-decoration: underline;
  font-weight: bold;
}

h1 {
  color: #500000;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: #500000;
  color: white;
  border-bottom: 4px solid #500000;
  font-size: 2em;
  font-style: normal;
}

h2.title {
  color: white;
  font-size: 13pt;
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 10px;
}


#notice, #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: #500000;
}


/*css for table*/
table {
    border:none;
    border-collapse: collapse;
        border-spacing: 0;
  margin:0px;padding:5px;
  color:#ffffff;
}

th{
  vertical-align:middle;
  background-color:#500000;
  border:1px solid #000000;
  text-align:left;
  padding:5px;
  font-weight:bold;
  font-style:normal;
  font-size:16px;
  color:#ffffff;
}

tr:hover td{
  background-color:#c8c8c7;
}  

td{
  vertical-align:middle;
  background-color:#ffffff;
  border:1px solid #000000;
  border-width:1px 1px 1px 1px;
  text-align:left;
  padding:5px;
  font-size:12px;
  font-weight:normal;
  color:#000000;
}


#side-bar{
  padding-left:20px;
  float: left;
  width: 200px;
  background: gray;
  min-height: 100%;
}

.side-bar-text{
  padding-left: 20px;
}

.secondary-main{
  margin-top: 10px;
  margin-left: 80px;
}

#header-link,#header-link a{
  padding-left:5px;
  color:white;
  background-color:#500000;
}
