/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require bootstrap.min
 */
 
 /*css layout*/
@import "font-awesome-sprockets";
@import "font-awesome";
 
html, body {
/*  margin: 0;
  padding: 0;*/
  background-color: #C3C3C3;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
  height:100%;
  width:100%;
}

#headtitle{
  font-size: 40px;
  font-family:Georgia,serif;
	color:#4E443C;
	font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;
}

#title_padding{
  padding-top:10px;
  padding-left:10px;
  padding-bottom:10px;
}

#main {
  /*margin: 0;
  padding: 0 20px 20px;*/
  height: 100%;
  /*padding-bottom: 50px;*/
  width: 100%;
  min-width: 1200px;
  background: #C5C5C5;
  min-height: 800px;
}

#layoutcenter{
/*to make body stays in the middle*/
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F2F2F2;
  padding: 30px;
  height: 100%;
  min-height: 800px;
}


#maroon_top{
  /*padding: 0 0 0 10px;*/
  background-color: #500000;
  color: white;
  width:100%;
  min-width: 1200px;
}

#maroon_footer{
  /*padding: 0 0 0 10px;*/
  background-color: #500000;
  color: white;
  width:100%;
  height: 50px;
  min-width: 1200px;
}

a {
  background: transparent;
  // color: #500000;
  // text-decoration: underline;
  font-weight: bold;
  //color:black !important; 
}

#a-maroon a{
  color: white;
  padding:10px;
}

#logout, #login{
  position:absolute;
  top:0;
  right:0;
}

h1 {
  font-size: 150%;
  //font-style: italic;
  display: block;
  border-bottom: 0px solid DarkSlateGrey;
  color: #000000;
  //color: #500000;
  //font-family:"Times New Roman", Times, serif;
}

h1.subtitle{
  font-size: 30px;
  font-family: Impact, Charcoal, sans-serif;
}

h1.title {
  margin: 0 0 0.5em;
  background-color: #500000;
  border-bottom: 0px solid #500000;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 32px;
  font-style: normal;
}

h2.title {
  color: white;
  padding-bottom: 10px;
}

#notice, #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
#success {
  background: #81AFB2;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: #500000;
}


/*css for table*/
table {
  width: 100%;
  border:none;
  border-collapse: collapse;
  border-spacing: 0;
  margin:0px;padding:5px;
  color:#ffffff;
}

th{
  vertical-align:middle;
  background-color:#500000;
  border:1px solid #000000;
  text-align:left;
  padding-left:5px !important;
  color:#ffffff;
  font-family: 'Trocchi', serif;
  font-size: 26px;
  font-style:normal;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}

th a{
  color: #FFFFFF !important;
}

tr{
  height: 55px;
}


tr:nth-child(even) td { background: #EFEFEF; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td { background: #FFFFFF; }  

tr a, {
  font-weight: normal !important;
}
th a:hover, th a:active{
  color:grey;
}

tr:hover td{
  background-color:#c8c8c8;
}  

td{
  vertical-align:middle;
  background-color:#ffffff;
  border:1px solid #000000;
  border-width:1px 1px 1px 1px;
  text-align:left;
  padding-left:5px !important;
  font-size:18px;
  color:#000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 40px;
  margin: 0 0 16px;
}

td a{
  color:#500000 !important;
}

#side-bar{
  padding-left:20px;
  float: left;
  width: 200px;
  background: gray;
  min-height: 100%;
}

.side-bar-text{
  padding-left: 20px;
}

.secondary-main{
  margin-top: 10px;
  margin-left: 80px;
}

#header-link,#header-link a{
  padding-left:5px;
  color:white;
  background-color:#500000;
}

ul.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    position: fixed;
    overflow: auto;
}

li.sidebar a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li.sidebar a.active {
    background-color: #4CAF50;
    color: white;
}

li.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.field_with_errors form {
  color: red;
  background-color: red;
}
.field_with_errors input {
  border-color: red;
}
.top-header{
    display:inline-block;
}
#login-as{
  position:absolute;
  top:0;
  right:100px;
  padding-right: 10px
}

#black-line {
  border-top: 1px solid #D3D3D3;
  width:70%;
}


//botton
// .btn {
//   background: #000000;
//   background-image: -webkit-linear-gradient(top, #000000, #949494);
//   background-image: -moz-linear-gradient(top, #000000, #949494);
//   background-image: -ms-linear-gradient(top, #000000, #949494);
//   background-image: -o-linear-gradient(top, #000000, #949494);
//   background-image: linear-gradient(to bottom, #000000, #949494);
//   -webkit-border-radius: 8;
//   -moz-border-radius: 8;
//   border-radius: 8px;
//   font-family: Courier New;
//   color: #ffffff;
//   font-size: 20px;
//   padding: 10px 20px 10px 20px;
//   border: solid #787878 2px;
//   text-decoration: none;
// }

// .btn:hover {
//   background: #d6d6d6;
//   background-image: -webkit-linear-gradient(top, #d6d6d6, #878787);
//   background-image: -moz-linear-gradient(top, #d6d6d6, #878787);
//   background-image: -ms-linear-gradient(top, #d6d6d6, #878787);
//   background-image: -o-linear-gradient(top, #d6d6d6, #878787);
//   background-image: linear-gradient(to bottom, #d6d6d6, #878787);
//   text-decoration: none;
// }